*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Serif", serif;
}

/* Header section */

.header_section{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: pink;
}

.left{flex-basis: 50%;}
.right{flex-basis: 50%;align-content: flex-end;text-align: right;}
.right a{font-size: 18px;padding: 0 20px;color: #000;text-decoration: none;}
.right a:hover{text-decoration: underline;}

/* Home section */

#home{
    background-color: #a1ffe0;
    color: #000;
    text-align: center;
    padding: 100px;
}

#home h1{
    font-size:44px;
    padding:20px;
}

#home p{
    font-size:24px;
}

/* About section */
#about{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #d1fff0;
    align-items: center;
}

.left-about{flex-basis: 50%;margin: 80px;}
.right-about{flex-basis: 50%;align-content: flex-end;text-align: right;margin: 80px;}
.right-about img {border-radius: 50%;}

#about h2{
    font-size: 34px;padding-bottom: 20px;
}

/* Skill section */

#skills{
    padding: 50px;
    background-color: #e2fcf3;
    text-align:center;
}

.inner-skill {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #e2fcf3;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.inner-skill p {
    background-color: #000000;
    border: 1px solid #000;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
    width: 265px;
    margin: 20px;
}

/* Project section   */

#projects{
    background-color: #f5f9f8;
    padding: 50px;
    text-align:center;
}

.inner-project{
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    margin: 40px 20px;
    justify-content: center;
}

.project{
    position: relative;
    width: 310px;
    height: 320px;
    border: 1px solid #000;
    box-shadow: 0 3px 8px #0000003d;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project img{
    width: 100%;
    border-radius: 10px;
    height: 150px;
}

h5{
    font-size: 20px;
}

.project p{
    margin-bottom:30px;
}

.syllabus {
    color: #707070;
    border-color: #707070;
    background: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    border: 1px solid;
    margin-right: 10px;
    text-decoration: none;
}

.know {
    color: #0dba4b;
    border-color: #0dba4b;
    background: #0dba4b;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid;
    color: #fff;
    text-decoration: none;
}


/* Contact Section. */
.contact{
    padding: 20px;
    text-align: center;
    background-color: pink;
    color: white;
}

.contact form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.contact input,
.contact textarea{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    margin-bottom: 10px;
}

.contact button{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: burlywood;
}

.social-links a i{
    margin-right: 6px;
}

.social-links{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 10px;
}